.streamVideo {
  position: relative;
}

.video, .canvas {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}

.video {
  width: 100%;
  z-index: -10;
  visibility: hidden;
}

.canvas {
  border: 3px solid #0cf;
  width: 100%;
}
