.app {
  border: 1px solid #f00;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.feeds {
  border: 1px solid #0f0;
  flex: 1 0 24%;
}

.main {
  flex: 0 0 50%;
}
